*{
    padding: 0;
    margin: 0;
}

.main-text{
font-size: 80px;
color: white;
justify-content: center;
align-items: center;
display: flex;
margin: 50px;
position: absolute;
}

.about.img{
width: 500px;
height: 20vh;
}


.sec-text{
    font-size: 40px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
    margin-top: 50px;
    width: 55vw;
}
