* {

  margin: 0;
  padding: 0;

}

body {

  background-color: #0f0018;
  width: 100%;
  height: 100%;
  

}




nav {

  align-items: center;
  justify-content: center;

}

div.img {
  width: 200px;
  height: 100px;
  padding: 10px 20px;

}

nav .buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

div.buttons {

  
  color: white;
  gap: 100px;
  cursor: pointer;
  padding: 0px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  


}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;

}

/* .sign {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 10px 20px;
  background: #0f0018;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(116, 116, 116);
  cursor: pointer;
  display: flex;
  justify-content: center;
} */

/* .sign:hover {
  background-color: rgb(54, 2, 54);
} */

.buttons span:hover {
 color: rgb(255, 0, 255);
 text-decoration: underline;
}

.highli {
  color: purple;
  font-style: italic;
}

.text1 {
  color: white;
  width: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
}

div.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin-bottom: 70px;
}


.image1 img {

  border-radius: 50px;
  margin-top: 40px;
  filter: brightness(1.2) saturate(1.2);
  box-shadow: 0 0 20px 5px rgba(75, 0, 130, 0.8);
}

.trynow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

/* .free {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: 80px 0px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 70px;
  background-color: #ffffff00;
  padding: 15px 40px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 10px #CA32FF;
  backdrop-filter: blur(10px);
}

.free:hover {
  background-color: rgb(54, 2, 54);
} */

.line {

  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 2px;

}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {

  color: white;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.text2 {

  color: white;
  text-align: center;
}

.content3 .text5 {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text5 {

  font-size: 25px;
  align-items: center;
  color: white;

  font-family: 'Raleway', sans-serif;


}


.imagee {
  box-shadow: 0 0 20px #CA32FF;
  backdrop-filter: blur(90px);
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 30;
  border-radius: 100px;
  background-color: rgba(116, 71, 116, 0.048);
}

.immg {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1px solid rgb(116, 116, 116);
  cursor: pointer;
}

.immg img {
  transition: transform 0.3s ease;
  height: 500px;
  width: 500px;
}

.immg:hover img {
  transform: scale(1.2);
}

.message-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.message-overlay.show {
  opacity: 1;

}


.trynoww {
  
  box-shadow: 0 0 10px #CA32FF;
  backdrop-filter: blur(90px);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(116, 116, 116);
  border-radius: 40px;
  color: white;
  padding: 35px 50px;
  font-size: 25px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 margin-bottom: 50px;
 width: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  cursor: pointer;
  gap: 9px;
}

.trynoww .two {
  color: rgb(212, 0, 212);
}

.immg img {

  border-radius: 50px;
  border: 1px solid rgb(116, 116, 116);


}

.trynoww:hover {
  background-color: rgb(54, 2, 54);
}




@media screen and (max-width: 1793px) {

  div .text2 {
    font-size: 35px;

  }

  .text5 {
    font-size: 22px;
  }

  .imagee {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    flex-direction: column;
    margin-right: auto;
    flex-wrap: wrap;

  }


  div.content {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    justify-content: center;
  }





}
@media screen and (max-width: 3373px){
  
  
}


@media screen and (max-width: 1671px) {


  div .text2 {
    font-size: 25px;

  }

  .trynow {

    margin-left: auto;
    margin-right: auto;
  }

  .free {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 19px;
    padding: 20px 50px;

  }

  div.free {
    width: 150px;
  }

  .text5 {
    font-size: 15px;
  }

  .imagee {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    flex-direction: column;
    margin-right: auto;
    flex-wrap: wrap;

  }

  div.content {
    gap: 70px;
  }

  .text1 {
    font-size: 50px;
  }

  .image1 img {

    border-radius: 45px;
    width: 500px;




  }

  div.free {
    width: 90px;
    height: 5px;
    margin: 40px 10px;
    white-space: nowrap;
  }


}




@media screen and (max-width: 1308px) {


  div .text2 {
    font-size: 25px;

  }

  .text5 {
    font-size: 15px;
  }

  div.img {
    margin-right: 0;
  }

  main {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;

  }

  .buttons {
    height: 33px;

  }

  div.buttons {
    font-size: 12px;
  }

  .sign {
    font-size: 10px;
    width: 60px;
  }

  div.content {
    width: 300px;
  }

  .content3 .text5 {
    width: 700px;
  }

}






@media screen and (max-width: 950px) {

  .content3 .text5 {
    width: 700px;
  }

  div.content {
    width: 100px;
  }


  .text1 {
    font-size: 35px;
  }


  .image1 img {

    border-radius: 50px;
    width: 400px;
    margin-top: 20px;


  }


  .free {


    font-size: 11px;
    padding: 17px 15px;


  }

  .sign {
    font-size: 8px;
    width: 40px;
    height: 6px;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    height: 23px;

  }

  main .nav {
    gap: 2px;
  }

  div.buttons {
    font-size: 12px;
  }

  .div .free {
    font-size: 20px;
    margin: 30px;
  }

  div.free {
    width: 90px;
    height: 5px;
    margin: 20px 10px;
  }

  .imagee {
    width: 400px;

  }

  .immg img {

    border-radius: 25px;
    width: 390px;
    height: 400px;





  }

  .trynoww {
    width: 12px;
    height: 10px;
    padding: 10px 70px;
    font-size: 9px;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    text-decoration: solid;
    justify-content: center;
    gap: 4px;

  }



}

@media screen and (max-width: 889px) {


  div .text2 {
    font-size: 15px;
  }

  .content3 .text5 {
    font-size: 13px;
  }


}


@media screen and (max-width: 755px) {


  div.content {
    width: 50px;
  }

  .text1 {
    font-size: 20px;
  }

  main {
    width: 20vw;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
gap: 0px;


  }

  .content3 .text5 {
    width: 600px;
  }

  div.content {
    width: 250px;
  }



  .imagee {
    width: 250px;

  }

  .immg img {

    border-radius: 15x;
    width: 250px;
    height: 250px;





  }

  .image1 img {

    border-radius: 40px;
    width: 300px;
    margin-top: 20px;



  }

  div.buttons {
    gap: 30px;

    
  }

  div.img img {
    width: 60px;
   
    height: 60px;
    align-items: center;
    justify-self: center;
margin-top: 15px;
    margin-right: 20px;
  }

  .div .free {
    font-size: 18px;
    margin: 30px;
  }

  div.free {
    width: 70px;
    height: 10px;
    margin: 20px 5px;
    padding: 10px 20px;
  }

  div .text2 {
    font-size: 15px;
  }

}


@media screen and (max-width: 675px) {


  div.content {
    width: 300px;
    gap: 70px;
    align-items: center;
    justify-content: center;
  }

  .imagee {
width: 290px;
  }

  .immg img {

    border-radius: 25px;
    width: 250px;
    height: 250px;





  }

  div.img img {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-self: center;
    margin-top: 12px;
    margin-right: 20px;
  }

  .image1 img {

    border-radius: 40px;
    width: 300px;
    margin-top: 20px;



  }

  div.img {
    margin-right: 30px;
  }

  .buttons {
    width: 30vw;
    gap: 1px;


  }

  div.buttons {
   gap: 15px;
    margin-right: 50px;

  }

  .sign {
    padding: 7px 15px;
    font-size: 7px;
    white-space: nowrap;
  }

  main {
    width: 20vw;
    height: 100px;
  }

  .content3 .text5 {
    width: 500px;
  }

  div.img img {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-self: center;
    margin-top: 12px;
    margin-right: 20px;
  }

  .div .free {
    font-size: 18px;
    margin: 30px;
  }

  div.free {
    width: 70px;
    height: 10px;
    margin: 20px 5px;
    padding: 10px 20px;
  }

  div .text2 {
    font-size: 11px;
  }


}









//564screeen

@media screen and (max-width: 565px) {


  .image1 img {
    border-radius: 40px;
    width: 100px;
    margin-top: 20px;
  }

  div.content {
    gap: 40px;
  }



  .text1 {
    font-size: 20px;
  }





  div.img img {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-self: center;
    margin-top: 12px;
    margin-right: 20px;
  }


  .content3 .text5 {
    width: 300px;
    font-size: 10px;
  }



  div.free {
    width: 70px;
    height: 10px;
    margin: 20px 5px;
    padding: 10px 20px;
  }


  div.text1 {
    font-size: 20px;
  }

  .div .free {
    font-size: 10px;
    margin: 30px;
  }





}

@media screen and (max-width: 535px) {

  .image1 img {
    border-radius: 20px;
    width: 200px;
    margin-top: 20px;
  }

  div .text2 {
    font-size: 10px;
  }
  .content3 .text5 {
    font-size: 10px;
    width: 300px;
  }
 div.img{
  margin-right: 80px;
}
.line{
  width: 100vw;
}
.sign{
  margin-right: 150px;
}
}

@media screen and (max-width: 468px) {

  .image1 img {
    border-radius: 10px;
    width: 150px;
    margin-top: 20px;
  }

  div .text2 {
    font-size: 8px;
  }
  .content3 .text5 {
    font-size: 8px;
    width: 300px;
  }
  div.img{
    margin-right: 0px;
  }
.line{
  width: 100vw;
}
.text1 {
  font-size: 15px;
}
.main{
  margin-left: 130px;
}

.sign{
  margin-right: 150px;
}


@media screen and (max-width: 385px) {

 
  div.img{
    margin-right: 0px;
  }


.sign{
  margin-right: 150px;
}





.text2{
  font-size: 5px;
}

.image1 img {

  border-radius: 10px;
  width: 130px;
  margin-top: 20px;



}

.line{
  width: 100vw;
}
.text1{
  font-size: 15px;
}

div.buttons{
  margin-right: 70px;
}

}
