* {
    padding: 0;
    margin: 0;
}

.about {
    position: relative;
    text-align: center;
    color: white;
}

.about img {
    width: 100%;
    height: 30vw;
    display: block;
    opacity: 0.5;
}

.main-text {
    font-size: 80px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.sec-text {
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

/* New Section Styles */
.big-container {
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.text {
    color: white;
    font-size: 30px;
    align-items: center;
    margin-top: 50px;
    font-family: 'Raleway';
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    justify-content: center;
    margin-top: 20px;
    width: 70%; /* Adjust the width as needed */
}

.step {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.step-left,
.step-right {
    justify-content: center;
}

.step-content {
    background: #6d397e;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.step-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.step-content h3 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #0f0018;
}

.step-content p {
    font-size: 16px;
    color: black;
}

body {
    background: linear-gradient(180deg, #0f0018 0%, #22003D 100%);
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1200px) {
    .main-text {
        font-size: 60px;
    }

    .sec-text {
        font-size: 15px;
        margin-top: 2vw;
    }

    .steps {
        width: 75%;
    }

    .step-content h3 {
        font-size: 18px;
    }

    .step-content p {
        font-size: 14px;
    }
    body {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main-text {
        font-size: 50px;
        top: 25%;
    }

    .text {
        font-size: 20px;
    }
    .big-container {
        padding-top: 0px;
    }
    .sec-text {
        font-size: 20px;
        margin-top: 2vw;
    }

    .steps {
        width: 70%;
    }

    .step-content h3 {
        font-size: 16px;
    }

    .step-content p {
        font-size: 12px;
    }
    .about img {
        width: 100vw;
        height: 100vw;
        display: block;
        opacity: 0.5;
    }
    body {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-text {
        font-size: 40px;
        top: 20%;
    }

    .sec-text {
        font-size: 16px;
        top: 50%;
        width: 85%;
    }

    .steps {
        width: 65%;
    }

    .step-content h3 {
        font-size: 14px;
    }

    .step-content p {
        font-size: 12px;
    }

    .text {
        font-size: 20px;
    }
    body {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 390px) {
    .main-text {
        font-size: 30px;
        top: 15%;
    }

    .big-container {
        padding-top: 0px;
    }

    .sec-text {
        font-size: 15px;
        top: 50%;
        width: 90%;
    }

    .steps {
        width: 60%;
    }

    .step-content h3 {
        font-size: 12px;
    }

    .step-content p {
        font-size: 10px;
    }

    .text {
        font-size: 20px;
    }

    body {
        width: 100%;
        height: 100%;
    }
}
